[Unit]
Description=CWMP server service for GenieACS
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/genieacs/bin/
ExecStart=/opt/genieacs/bin/genieacs-cwmp --config-file /opt/genieacs/config.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
