[Unit]
Description=GUI for GenieACS
After=network.target
Requires=genieacs-cwmp.service
Requires=genieacs-nbi.service
Requires=genieacs-fs.service

[Service]
Type=simple
User=root
PIDFile=/opt/genieacs-gui/tmp/pids/server.pid
WorkingDirectory=/opt/genieacs-gui
ExecStartPre=rm -f tmp/pids/server.pid
ExecStart=//usr/bin/rails s -e development --bind 0.0.0.0 --port 80
Restart=on-failure

[Install]
WantedBy=multi-user.target
